.ImageRotator2 {
  width: 300px;
  height: 400px;
  position: absolute;
  -webkit-animation: ImageRotator 15s linear infinite;
  -moz-animation: ImageRotator 15s linear infinite;
  -ms-animation: ImageRotator 15s linear infinite;
  -o-animation: ImageRotator 15s linear infinite;
  animation-delay: 3.5s;
}

@-webkit-keyframes ImageRotator2 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
