.slide1 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  /* animation-delay: 6s; */
}
@-webkit-keyframes slide1 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide2 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 3s;
}
@-webkit-keyframes slide2 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide3 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 6s;
}
@-webkit-keyframes slide3 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide4 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 9s;
}
@-webkit-keyframes slide4 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide1b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 12s;
}
@-webkit-keyframes slide1b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide2b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 15s;
}
@-webkit-keyframes slide2b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
.slide3b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 18s;
}
@-webkit-keyframes slide3b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide4b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear infinite;
  -moz-animation: ImageRotator 25s linear infinite;
  -ms-animation: ImageRotator 25s linear infinite;
  -o-animation: ImageRotator 25s linear infinite;
  animation-delay: 21s;
}

@-webkit-keyframes slide4b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
.slide5 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  /* animation-delay: 6s; */
}
@-webkit-keyframes slide5 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide6 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 3s;
}
@-webkit-keyframes slide6 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide7 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 6s;
}
@-webkit-keyframes slide7 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide8 {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 9s;
}
@-webkit-keyframes slide8 {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide5b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 12s;
}
@-webkit-keyframes slide5b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide6b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 15s;
}
@-webkit-keyframes slide6b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide7b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 18s;
}
@-webkit-keyframes slide7b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

.slide8b {
  width: 200px;
  height: 300px;
  position: absolute;
  -webkit-animation: ImageRotator 25s linear reverse infinite;
  -moz-animation: ImageRotator 25s linear reverse infinite;
  -ms-animation: ImageRotator 25s linear reverse infinite;
  -o-animation: ImageRotator 25s linear reverse infinite;
  animation-delay: 21s;
}
@-webkit-keyframes slide8b {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}

/* .body {
  overflow-x: hidden;
  height: 1040px;
} */

.instructions-inspo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}
