@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.NavBar-container {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.085);
  width: cover;
}

.NavBar-title {
  color: #b8860b;
  font-size: 30px;
  padding: 8px;
  font-family: "verdana";
  text-decoration: none;
}

.NavBar-item {
  color: white;
  font-size: 15px;
}

.NavBar-link {
  padding: 10px;
  color: #b8860b;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.NavBar-link:hover {
  background-color: gray;
  background-blend-mode: color-dodge;
}

.logout {
  color: #8f7900;
  text-decoration: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  display: flex;
  background-color: transparent;
  border: none;
  align-items: center;
}

.logout:hover {
  background-color: gray;
  background-blend-mode: color-dodge;
  cursor: pointer;
}
