@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.NavBar-container {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.085);
  width: 100%;
}

.NavBar-title {
  color: #b8860b;
  font-size: 30px;
  padding: 8px;
  font-family: "verdana";
}

.NavBar-item {
  color: white;
  font-size: 15px;
}

.NavBar-link {
  padding: 10px;
  color: #b8860b;
  text-decoration: none;
  font-family: "verdana";
  font-size: 20px;
}
