@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.NavBar-container {
  display: flex;
  justify-content: space-evenly;
  padding: 8px 16px;
  background-color: #b8860b;
  width: 100%;
}

.NavBar-title {
  color: black;
  font-size: 20px;
}

.NavBar-item {
  color: white;
  font-size: 15px;
}

.NavBar-link {
  color: black;
  text-decoration: none;
}
