.everything {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 200px;
  max-height: 200px;
  padding: 20px;
}

.clothing-item {
  padding: 0px;
  margin-top: 0%;
  margin-bottom: 3%;
}

.name {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5px;
  font-size: 20px;
}

.regenerate {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 16px;
  color: white;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
  width: 250px;
  margin-top: 3%;
  background-color: gold;
  background-color: #8f7900;
  text-decoration: none;
  width: 16%;
  margin-left: 42%;
  box-shadow: 5px 5px white;
  border: none;
  border-radius: 50px;
}

.link {
  text-decoration: none;
  margin-bottom: 50px;
}

.regenerate:hover {
  box-shadow: 5px 5px #8f7900;
  color: #8f7900;
  background-color: white;
  cursor: pointer;
}

.nothing-generated {
  color: white;
  font-size: 25px;
}

/* .animate::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 5px double red;
  border-left: 5px double red;
  transition: all 0.6s ease;
}

.animate::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 5px double red;
  border-right: 5px double red;
  transition: all 0.6s ease;
}

.animate2:hover .animate::after,
.animate2:hover .animate::before {
  border-color: red;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
} */
