<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon" />
    <title>Gamebook</title>
    <link rel="stylesheet" href="suggest_outfit.css" />
  </head>

  <body class="background">
    <div class="main-text">
      <button class="buttons">Reset</button>
      <button class="buttons">Login</button>
      <p class="main-text">Click to add clothing item</p>
      <div class="filter-box"></div>
    </div>
    <div id="root"></div>
    <script src="/bundle.js"></script>
  </body>
</html>
