.instructions {
  text-align: center;
  color: rgb(44, 99, 236);
  font-size: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-style: oblique;
}

.filters {
  background-color: rgb(47, 136, 231);
  width: 200px;
  border-radius: 50px;
  height: 490px;
  margin-top: 0px;
  margin-left: 10px;
  opacity: 0.8;
  box-shadow: 10px 5px 5px black;
  float: inline-start;
  text-align: center;
  margin-right: 50px;
}

.filter {
  background-color: rgb(120, 160, 240);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 40px;
  text-align: center;
}

#weather-title {
  margin-top: 20px;
}

.filter_labels {
  margin-bottom: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.filters-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 0px;
  margin-top: 20px;
}

.reset {
  background-color: bisque;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  display: inline-block;
  width: 90px;
  height: 30px;
  font-size: 15px;
  border-radius: 30px;
}

.reset:hover {
  font-weight: bold;
  box-shadow: 5px 2.5px 2.5px black;
}

.background {
  /* background-image: url("https://img.freepik.com/free-vector/vintage-ornamental-flowers-background_52683-28040.jpg?w=2000"); */
  background-image: url("https://cdn.nba.com/headshots/nba/latest/1040x760/2544.png");
  background-size: cover;
}

.suggest {
  background-color: bisque;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 30px;
  width: 210px;
  height: 60px;
  font-size: 25px;
  margin-left: 200px;
  margin-right: 30px;
}
.suggest:hover {
  box-shadow: 5px 2.5px 2.5px black;
  font-size: 22.5px;
  font-weight: bold;
}

.middle-area {
  display: flex;
}

.shirt {
  width: 170px;
}

.pants {
  width: 100px;
}

.shoes {
  width: 100px;
}

.dress {
  width: 150px;
}

.animate {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 20px;
}

.animate::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 5px double #2fc12f;
  border-left: 5px double rgb(25, 179, 22);
  transition: all 0.6s ease;
}

.animate::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 5px double rgb(111, 242, 111);
  border-right: 5px double rgb(58, 176, 43);
  transition: all 1s ease;
}

.animate2:hover .animate::after,
.animate2:hover .animate::before {
  border-color: rgb(9, 26, 209);
  width: 100%;
  height: 100%;
}

.silhouettes {
  display: flex;
}
