.instructions {
  text-align: center;
  color: rgb(44, 99, 236);
  font-size: 29px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 550;
  font-style: oblique;
  display: flexbox;
  color: black;
  padding: 45px;
}

.logos {
  width: 120px;
  margin-right: 20%;
  margin-left: -20%;
}

.logo {
  display: flex;
  justify-content: center;
}

.top {
  box-shadow: 10px 10px 10px 5px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  background-color: #8f7900;
  width: 220px;
  border-radius: 25px;
  height: 260px;
  margin-top: 0px;
  margin-left: 2%;
  opacity: 0.8;
  box-shadow: 15px 15px 15px black;
  float: inline-start;
  text-align: center;
  margin-right: 50px;
}

.filter {
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  width: 150px;
  height: 40px;
  font-size: 14px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 7%;
  text-align: center;
}

#weather-title {
  margin-top: 7%;
}

.filter_labels {
  margin-bottom: 1%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: white;
}

.filters-title {
  font-weight: bold;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 7%;
  color: white;
}

.reset {
  background-color: #8f7900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 10px;
  color: white;
  display: inline-block;
  width: 90px;
  border: transparent;
  height: 30px;
  font-size: 15px;
  box-shadow: 5px 5px 5px black;
}

.reset:hover {
  opacity: 0.7;
  cursor: pointer;
  cursor: pointer;
}

.background {
  /* background-image: url("https://img.freepik.com/free-vector/elegant-golden-pattern-background-design_1017-13782.jpg"); */
  /* background-color: white; */
  opacity: 1;
  background-image: url("https://img.freepik.com/free-vector/minimal-white-gray-background-with-wavy-lines_1017-25099.jpg?w=2000");
}

.suggest {
  background-color: #8f7900;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20px;
  width: 210px;
  border: transparent;
  color: white;
  height: 60px;
  font-size: 25px;
  margin-left: 25%;
  margin-right: 5%;
  box-shadow: 10px 10px 13px rgb(0, 0, 0);
}
.suggest:hover {
  opacity: 0.7;
  cursor: pointer;
}

.middle-area {
  display: flex;
}

.shirt {
  height: 170px;
}

.pants {
  width: 100px;
}

.shoes {
  width: 100px;
}

.dress {
  width: 150px;
}

.animate {
  position: relative;
  background-color: transparent;
  border: none;
  padding: 20px;
  box-sizing: border-box;
}

.animate::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-bottom: 5px double red;
  border-left: 5px double red;
  transition: all 0.6s ease;
}

.animate::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 0;
  box-sizing: border-box;
  height: 0;
  border-top: 5px double black;
  border-right: 5px double black;
  transition: all 0.6s ease;
}

.animate2:hover .animate::after,
.animate2:hover .animate::before {
  border-color: rgb(135, 121, 40);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  cursor: pointer;
}

.silhouettes {
  display: flex;
}

.option {
  color: white;
}

.silhouette-text {
  position: absolute;
  color: white;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#tops-text {
  margin-top: -70%;
  margin-left: 30%;
}

#bottoms-text {
  margin-top: -130%;
  margin-left: 12%;
}

#shoes-text {
  margin-top: -25%;
  margin-left: 8%;
}

#dresses-text {
  margin-top: -70%;
  margin-left: 23%;
}

.silhouettes-and-buttons {
  margin-left: 5%;
}

/* .popup {
  display: none;
} */
